@mixin dflex($justifyContent:space-between , $align-items:center){
    display: flex;
    justify-content: $justifyContent;
    align-items: $align-items;
}

@mixin dFlex($justifyContent:center ,$align-items:center){
    background: #f6f6f6;
    width: 100%;
    height: 506px;
    flex-shrink: 0;
    margin-top: 104px;
    display: flex;
    justify-content: center;
}

@mixin Dflex($justify-content:center , $align-items:center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: 40px;
}

@mixin DFlex($justify-content:center , $align-items:center){
    background: #f6f6f6;
    width: 100%;
    height: 2253px;
    flex-shrink: 0;
    margin-top: 104px;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

@mixin DFLEX($justify-content:center  , $align-items:center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}